.container {
    width: 50%;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(157, 54, 54, 0.2);
    transition: 0.3s;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.eventCard {
    margin-top: 70px;
    width: 100%;
    height: 50%;
    padding: 20px;
}

.cardImage {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.eventDetails {
    margin-top: 30px;
    margin-bottom: 30px;
}

.eventDetails p {
    margin-bottom: 5px !important;
}

.eventAction {
    display: flex;
    justify-content: space-around;
}

span {
    padding-top: 30px;
}

h3 {
    margin-top: 70px;
}